@font-face {
  font-family: Avenir;
  font-style: normal;
  font-weight: 300;
  src: local('Avenir'), url(./fonts/Avenir-Book.otf) format('opentype');
}

body {
  background-color: #f0f2f5;
  font-family: Avenir, sans-serif;
}

#content {
  background: white;
  min-height: 360px;
}

.page-padder {
  .ant-typography {
    line-height: 1.6rem;
    margin-bottom: 0;
  }
}
