
#admin-page {
  .admin-secret {
    margin-bottom: 1rem;

    .ant-input-password {
      width: 300px;
    }

    button {
      margin-left: 1rem;
    }
  }

  .existing-reservations {
    margin-top: 2rem;

    .ant-card {
      &:not(:last-of-type) {
        margin-bottom: 1rem;
      }

      .ant-card-extra > button {
        margin-left: 0.5rem;
      }
    }
  }

  .new-reservation-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .ant-form-item:last-of-type {
      margin-bottom: 0;
    }
  }
}
